body {
  margin: 58px 280px;
  background-color: #fbfcff;
}
input {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: center;
  border-radius: 20px;
  border: 1px solid rgb(185, 184, 184);
  outline: 0;
  box-shadow: 2px 2px 4px rgb(231, 231, 231);
  transition: all 0.3s ease-in;
}
h1 {
  margin-top: 25px;
  margin-left: 40px;
  text-align: left;
  font-weight: bold;
  font-size: 50px;
  color: #005a38;
}
h1::first-letter {
  text-transform: capitalize;
}
p {
  margin-top: -25px;
  margin-left: 50px;
  text-align: left;
  font-weight: 500;
  font-size: 28px;
  color: #005a38;
}
ul {
  display: inline-block;
  list-style: none;
  font-size: 27px;
  margin-top: 15px;
}
li {
  padding-right: 34px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  text-align: center;
  border: 1px solid gainsboro;
  border-radius: 20px;
  box-shadow: 0 4px 4px 0 rgb(0 0 0 / 16%), 0 0 4px 1px rgb(0 0 0 / 8%);
  padding: 10px 20px;
  background: linear-gradient(
    180deg,
    rgb(208, 251, 166) 0%,
    rgb(255, 255, 255) 100%
  );
}
.city-hints {
  text-align: end;
  margin-bottom: 8px;
  font-size: 20px;
  margin-right: 10px;
}
.cities {
  color: black;
  padding: 6px 4px;
}
.city-form {
  font-size: 22px;
}
.search-button {
  color: white;
  background-color: #54a5f5;
  border-radius: 20px;
  border: 1px solid #54a5f5;
}
.search-button:hover {
  background-color: #3e80c2;
}
.chosen-city {
  font-family: "Alkalami", serif;
  font-size: 45px;
  text-transform: uppercase;
}
.location {
  margin-top: -30px;
  text-align: left;
  color: #038151;
  margin-left: 40px;
}
.forecast {
  margin: 35px 0px 30px 0px;
}
.temperature-today {
  font-size: 25px;
  padding: 10px;
  font-style: italic;
}
.weather-list {
  border-right: 1px solid rgb(212, 211, 211);
}
.forecast-date {
  font-weight: 500;
  font-style: italic;
  margin-top: 30px;
}
.week-weather {
  font-style: italic;
}
.city-form {
  text-align: end;
}
.github-link {
  margin: 15px;
}
#weather-description {
  margin-right: -12px;
}
#current-temp {
  margin-left: -15px;
}

#forecast-icon {
  padding-right: 30px;
}
.forecast-temp {
  margin-bottom: 30px;
}
.weather-list:last-child {
  border-right: none;
}
